@charset "utf-8";
/* CSS Document */

.idCard{
	    border: 2px solid black;
    height: 420px;
}

.idcardMargin{
	margin-top: 5px;	
	
}

.idcardAlign{
	    text-align: center;
		    border-bottom: 2px solid;
		
}

.idcardBtn{
	
	text-align:center;
	
}