@charset "utf-8";
/* CSS Document */

.contentFee{
	margin-top:30px;
	
}

.serialNumber{
	    border: none !important;
    background-color: #fff !important;
    box-shadow: none !important;
	
}

.chkboxBtn{
	box-shadow: none !important;
	width:20px !important; 
}

